.app{
    background-color: rgb(22, 56, 80);
    display: flex;
    justify-content: center;
}

.content{
    width: 100%;
    display: block;
    max-width: 1600px;
    background-color: rgb(22, 56, 80);
    min-height: 100vh;
}