.Landing_sectionOne{
    height:calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2em
}

.Landing_sectionOne_left{
    position: relative;
    width:40%;
}

.Landing_sectionOne_title{
    display: block;
}


.Landing_sectionOne_button{
    margin-top: 1.2em;
}


.Landing_sectionOne_right{
    height:100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding:3em 1em 3em 3em;
}

.Landing_sectionOne_right_image{
    width:100%;
}

.Landing_sectionOne_scroll{
    filter: invert(100%);
    position: absolute;
    bottom: 0;
    height: 5em;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scrollAnimation 2s infinite;
    animation-timing-function: linear;
}

@keyframes scrollAnimation {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -60%);
    }
  }