.Landing_sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5em 1em;
}

.Landing_sectionTwo_left{
    flex:1;
    height:100%;
    text-align: center;
}

.Landing_sectionTwo_right_image{
    width:100%
}

.Landing_sectionTwo_right{
    flex:2;
    text-align: right;
    position: relative;
    padding-left:1em
}

.Landing_sectionTwo_title{
    
}

.Landing_sectionTwo_texte{
    padding-left: 2em;
}

.Landing_sectionTwo_button{
    margin-top: 1.5em;
}

.Landing_sectionTwo_button:focus{
    background: transparent;
}

.Landing_sectionTwo_button::before{
    content:"";
    background-color: #AF3648;
    position: absolute;
    width:0%;
    height:100%;
    top:0%;
    left:0;
    z-index: -1;
    transition: 0.4s ;

}

.Landing_sectionTwo_button:hover{
    color:white;
}

.Landing_sectionTwo_button:hover::before {
    width: 100%;
}